<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fistashka</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/buttons.css}" rel="stylesheet" />
    <link th:href="@{/css/listofproducts.css}" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- JavaScript for listofproducts -->
    <script th:src="@{/js/listofproducts.js}" type="text/javascript"></script>
</head>

<body>
    <!-- JavaScript for cart -->
    <script th:src="@{/js/cart.js}" type="text/javascript"></script>

    <!-- JavaScript for cookie -->
    <script th:src="@{/js/cookie.js}" type="text/javascript"></script>

    <div class="container">

        <h1>Internet Shop "Fistashka"</h1>

        <div th:insert="fragments/city-picker.html :: div"></div>

        <p th:text="${sid}">Current sid is </p>

        <div th:insert="fragments/cart-counter.html :: div"></div>

        <div th:insert="fragments/filtering-form.html :: div"></div>

        <div th:insert="fragments/listofproducts.html :: div" id="listik"></div>

        <div th:insert="fragments/modal-city.html :: div"></div>

    </div>
</body>
</html>
