<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout in Fistashka</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}"/>
    <link rel="stylesheet" th:href="@{/css/listofproducts.css}"/>
    <link rel="stylesheet" th:href="@{/css/checkout.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- JavaScript for checkout -->
    <script th:src="@{/js/checkout.js}" type="text/javascript"></script>

    <!-- JavaScript for cookie -->
    <script th:src="@{/js/cookie.js}" type="text/javascript"></script>

    <!-- JavaScript for order -->
    <script th:src="@{/js/order.js}" type="text/javascript"></script>

    <div class="container">

        <h1>Checkout at Fistashka</h1>

        <div th:each="cart_item : ${cart_items}" class="cart-items-at-checkout-container" th:id="${'cont-'+cart_item['product_id']}">
            <div th:insert="fragments/cart-item.html :: cart_item(${cart_item['product_id']},
                                                                  ${cart_item['description']},
                                                                  ${cart_item['image_path']},
                                                                  ${cart_item['price']},
                                                                  ${cart_item['availableFrom']},
                                                                  ${cart_item['quantity']})"> </div>
        </div>

        <div class="cart-counter" xmlns:th="http://www.w3.org/1999/xhtml">
            <button type="button" class="btn btn-primary btn-lg" id="make-order-btn">Make an order, total: [[${order_price}]]</button>
        </div>

    </div>

</body>
</html>