<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout in Fistashka</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}"/>
    <link rel="stylesheet" th:href="@{/css/listofproducts.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Checkout at Fistashka</h1>
    <div th:each="cart_item : ${cart_items}" class="cart-items-at-checkout-container">
        <div th:insert="fragments/cart-item.html :: cart-item(${cart_item.key}, ${cart_item.value})"> </div>
    </div>
</body>
</html>