<!-- this fragment displays single product details based on given arguments -->
<div th:fragment="product(image_path, description, price, availableFrom, id)" class="product-info" xmlns:th="http://www.thymeleaf.org">

    <div>
        <img th:src="${image_path}" style="width:200px;height:200px;">
    </div>
    <div style="display: flex; flex-direction: column;">
        <p th:text="${description}"></p>
        <p th:text="${availableFrom}"></p>
    </div>
    <div>
        <div th:text="${price}" class="price-tag"></div>
        <button type="button" class="add-to-cart btn btn-success" name="add-to-cart" th:value="${id}">Add to cart</button>
    </div>

</div>

