.list-of-products-container {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
}

.list-of-products-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 15px;
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.price-tag {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 24px;
    color: green;
}

.cart-items-at-checkout-container > div {
    background-color: #f1f1f1;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 15px;
}

.cart-item-info {
    display: flex;
        justify-content: space-between;
}